* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Partials are the scss files that begins with an underscore_
// They can be used to organize code and snippets.
// Partials must start with a _